@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background:rgb(73, 218, 138);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 80%;
  background: #fff;
  border-radius: 45px;
  padding: 50px 80px 30px 50px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.container .content{
    display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 4px;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
.content .left-side .details{
  margin: 15px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color:rgb(60, 179, 123);
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 15px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: mediumseagreen;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 20px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 60px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: mediumseagreen;
}
.button input[type="button"]:hover{
  background: rgb(71, 212, 135);
}
.button1{
  background-color:mediumseagreen; 
  border: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

