img{
    top: 10px;
    width: 250px;
    height: 350px;
    position: absolute;
    left: 600px;
}
.h{
    font-size: 32px;
    font-weight: 500px;
    color: black;
    position: absolute;
    top: 320px;
    right: 500px;
}
.p1{
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 500px;
    right: 5px;
}
.p2{
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 650px;
    right: 5px;
}
.p3{
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 800px;
    right: 5px;
}
.background{
    background-color: #308695;
    width: 1550px;
    height: 1150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
